{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-size: cover;
    background-position: center;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7c1cfff2-db8d-44cd-8a13-cb2a4162fae6/dd2zouo-047f7b3f-b895-43ac-82a4-abb6ca12c52a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzdjMWNmZmYyLWRiOGQtNDRjZC04YTEzLWNiMmE0MTYyZmFlNlwvZGQyem91by0wNDdmN2IzZi1iODk1LTQzYWMtODJhNC1hYmI2Y2ExMmM1MmEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.EFI6YQ0acRLpYHzupMAxV_N4KMcpNWT-_3RJ4TV-4eU");
}

.flex-container {
    height: 400px;
    width: 80vw;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.box {
    margin: 10px;
    width: 300px;
    height: 300px;
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    font-size: 3rem;
    padding: 1px;
}

#box1 {
    background-color: antiquewhite;
}

#box2{
    background-color: aquamarine;
}

#box3{
   background-color: antiquewhite;
}

#box4{
    background-color:;
 }
 
#box5{
    background-color: orange ;
 }
 
#box6{
    background-color:yellow;
 }
 
#box7{
    background-color: pink;
 }

 
#box8{
    background-color: antiquewhite;
 }
 
#box9{
    background-color: violet;
 }
 
#box10{
    background-color: orange;
 }
 
#box11{
    background-color:blue;
 }
 
#box12{
    background-color: green;
 }

 .box:hover{
    background-image: url("images.jpg");
   background-position: center;
   background-size: cover;
 }